@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--rubik);
}
*:focus {
  outline: none;
}
li,
a,
span,
p,
h1,
h2,
h3,
h4,
h5,
textarea,
th,
td,
input {
  color: var(--blue) !important;
  font-family: var(--rubik) !important;
  font-weight: 700;
}

.uk-card {
  text-align: left;
  cursor: pointer;
}

.uk-card p,
span {
  font-weight: 400;
  margin: 0 0 5px 0;
}

.uk-card h5 {
  margin-top: 0;
}

.uk-card h5:hover {
  opacity: 0.8;
}

.uk-card img {
  height: 180px;
  width: 100%;
}

.uk-card .uk-card-body {
  height: 190px;
}
.uk-card p.enroll {
  margin-top: -20px !important;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 250px;
  line-height: 20px;
  resize: none;
  overflow: hidden;
}
.uk-search input,
span {
  color: white !important;
}

.uk-search span {
  color: white !important;
}

.logo,
h1,
h2 {
  font-family: var(--rubik);
  font-weight: 700;
}

.uk-navbar {
  background-color: var(--blue);
  padding: 0 2rem;
}

.uk-tab > .uk-active > a {
  color: var(--orange) !important;
  border-bottom: 2px solid;
  border-color: var(--orange);
}

.uk-notification-message{
  font-family: var(--rubik);
  font-weight: 400;
  color: var(--green);
  border-radius: 5px;
}

.uk-notification-message svg{
  font-family: var(--rubik);
  font-weight: 400;
  color: var(--green);
  
}

.hero-btn{
  background-color: var(--orange) !important;
  font-family: var(--raluay) !important;
  font-weight: 700;
  font-size: 1.2rem;
}


.sign-form input{
  background-color: #F8F8F8;
}

.sign-form select{
  background-color: #F8F8F8;
}

.hero-btn:hover{
  background-color:#f12e35 !important;
}

.uk-navbar a {
  color: white !important;
}
.uk-offcanvas-bar button {
  color: var(--blue) !important;
}

.uk-offcanvas-bar .uk-search input,
span {
  color: var(--blue) !important;
  border-color: var(--blue) !important;
}

.uk-offcanvas-bar .uk-search span {
  color: var(--blue) !important;
}

.uk-navbar a:hover {
  color: var(--orange) !important;
}
.uk-nav .dropdown-category a:hover {
  color: var(--orange) !important;
}
.uk-nav a {
  color: var(--blue) !important;
}

.uk-navbar-right .login {
  color: var(--orange) !important;
}

.overview button {
  background-color: var(--blue) !important;
  
}
.overview button a{
  color: var(--orange) !important;

}

span.username {
  background-color: var(--orange) !important;
  font-family: var(--raluay) !important;
  font-weight: 700;
}

a.setting {
  background-color: var(--blue) !important;
  color: white !important;
  font-weight: 700;
}

.category .uk-card-body {
  padding: 0.5rem 1rem !important;
}

footer {
  background-color: var(--blue);
}
footer a {
  color: white !important;
  font-weight: 400;
}
footer h4 {
  color: var(--orange) !important;
}
footer p {
  color: var(--orange) !important;
  font-weight: 400;
}
.green{
  color: var(--green) !important;
}

.current .uk-card{
  cursor: auto;
}

::selection {
  background-color: var(--orange) !important;
  color: var(--blue);
}

:root {
  /* Fonts */
  --rubik: "Rubik", sans-serif;

  /* Colors */
  --blue: #0f1a26;
  --orange: #fc363b;
  --green:#1bb28c;
}
