<script th:src="@{https://cdn.tiny.cloud/1/uupfvcqhkleheq3ho6aygpxrzsttp4ttzoj988u3az0ytr75/tinymce/5/tinymce.min.js}" referrerpolicy="origin"></script>

<!-- ! UIKIT CSS -->
<link th:href="@{https://cdn.quilljs.com/1.3.6/quill.snow.css}" rel="stylesheet">

<link rel="stylesheet" th:href="@{css/uikit/uikit.min.css}" />
<link rel="stylesheet" th:href="@{css/custom-css/video-player.css}">
<link rel="stylesheet" th:href="@{css/custom-css/dashboard.css}">
<link rel="stylesheet" th:href="@{css/custom-css/global.css}">