<nav class="uk-navbar" uk-navbar xmlns:th="http://www.thymeleaf.org">
    <div class="uk-navbar-left uk-width-*">
        <ul class="uk-navbar-nav uk-visible@m">
            <li class="uk-active"> <a class="uk-navbar-item uk-logo logo" href="#"><img th:src="@{images/logo.png}"
                        height="80" width="80" alt=""></a></li>
            <li>
                <a href="#" class="categories">CATEGORIES</a>
                <div class="uk-navbar-dropdown uk-width-medium uk-border-rounded uk-margin-xlarge-top">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a class="uk-text-truncate" href="#">Item</a></li>
                        <li><a class="uk-text-truncate" href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li class="uk-margin uk-margin-large-left">
                <form class="uk-search uk-search-default uk-width-medium uk-child-width-* search-form">
                    <span uk-search-icon></span>
                    <input class="uk-search-input uk-border-rounded search-value" type="search" placeholder="Search">
                </form>
            </li>
        </ul>
        <a href="#" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon type="button"
            uk-toggle="target: #offcanvas-overlay"></a>
        <a class="uk-navbar-item uk-logo uk-hidden@m uk-position-center logo" href="#"><img th:src="@{images/logo.png}"
                height="80" width="80" alt=""></a>
    </div>
    <!-- If not logged in -->
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="#">Signup</a></li>
            <li><a href="#" class="login">Login</a></li>
        </ul>
    </div>

    <!-- If logged in -->
    <div class="uk-navbar-right uk-width-1-6">
        <ul class="uk-navbar-nav">
            <li class="uk-margin-small-right"><a href="#">My Courses</a></li>
            <li>
                <img class="uk-border-circle uk-margin-small-top" width="50" height="50"
                    th:src="@{images/default-picture.png}">
                <div class="uk-navbar-dropdown uk-border-rounded">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- ! MOBILE MENU -->

<div id="offcanvas-overlay" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-hidden@m uk-background-default">

        <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active uk-text-large">Menu</li>

            <li class="uk-margin">
                <form class="uk-search uk-search-default uk-width-medium search-form uk-child-width-*">
                    <span uk-search-icon></span>
                    <input class="uk-search-input uk-border-rounded search-value" type="search" placeholder="Search">
                </form>
            </li>

            <li class="uk-parent dropdown-category">
                <p href="#" class="uk-text-bolder">CATEGORIES</p>
                <ul class="uk-nav-sub">
                    <li><a class="uk-text-truncate" href="#">Web Development</a></li>
                    <li><a class="uk-text-truncate" href="#">Lorem ipsum dolor sit amet.</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>