<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dwm Academy - E-learning platform</title>
    <!-- ! UIKIT CSS -->
    <link rel="stylesheet" th:href="@{/css/uikit/uikit.min.css}" />
    <link rel="stylesheet" th:href="@{/css/custom-css/style.css}">
    <link rel="stylesheet" th:href="@{/css/custom-css/global.css}">
</head>

<body class="body">

	<nav th:replace="fragments/nav :: navbar"></nav>

        <!-- ! VIDEO COVER -->

    <div class="uk-cover-container video-container uk-height-large overview">
        <video th:src="@{videos/overwiew.mp4}" autoplay loop muted playsinline uk-cover></video>
        <div class="uk-overlay uk-child-width-1-2@s uk-position-large uk-position-center-left">
            <div>
                <div class="uk-dark uk-padding uk-background-default uk-border-rounded">
                    <h1>Learn Without Limits</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing incididunt ut labore et dolore magna aliqua.
                    </p>
                    <button class="uk-button uk-button-default uk-border-rounded"><a th:href="@{/web/users/signup}">Join now</a></button>
                </div>
            </div>
        </div>
    </div>

    <!-- ! CATEGORIES SLIDER -->

    <div class="uk-section uk-section-muted" th:replace="fragments/categories-slider::categories-slider">

    </div>

    <!-- ! TEACHER LIST -->

    <div class="uk-section uk-section-default uk-light">
        <div class="uk-container teacher-list-container">
            <h2 class="uk-text-center uk-margin-medium-bottom">OUR TEACHERS</h2>
            <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
                <div th:each="teacher:${teachers}">
                    <div class="uk-flex uk-flex-column uk-child-width-1-1 uk-flex-middle">
                        <img style="height: 150px;width: 150px;"
                            class="uk-border-circle uk-margin-small-bottom uk-box-shadow-medium"
                            th:src="@{/images/t3.jpg}" alt="">
                        <div class="uk-tile uk-tile-default uk-border-rounded uk-margin-small-top uk-box-shadow-small uk-padding-small">
                            <p class="uk-h4 uk-text-center uk-text-bolder" th:text="${teacher.first_name}+' '+${teacher.last_name}"></p>
                            <p class="uk-text-center uk-text-normal" th:text="${teacher.title}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ! PARTNER LIST -->

    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h2 class="uk-text-center uk-margin-medium-bottom">PARTNERS</h2>

            <div class="uk-grid-small uk-child-width-1-6@m uk-child-width-1-3@s uk-flex-center uk-text-center" uk-grid>
                <div>
                    <img th:src="@{/images/samsung-logo.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
                <div>
                    <img th:src="@{/images/att-logo.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
                <div>
                    <img th:src="@{/images/Chase.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
                <div>
                    <img th:src="@{/images/toyota-logo.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
                <div>
                    <img th:src="@{/images/sap-logo.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
                <div>
                    <img th:src="@{/images/pepsi-logo.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
            </div>
        </div>
    </div>




    <!-- ! TEACHER SECTION -->

    <div class="uk-section section-teacher uk-section-primary uk-light">
        <div>
            <div>
                <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>

                    <div uk-scrollspy="cls: uk-animation-slide-left; repeat: true"
                        class="uk-background-top-center uk-background-cover"
                        style="background-image: url('/images/teacher1.jpg');height: 500px;background-size: 100% 100%;">
                    </div>

                    <div class="uk-padding-large" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                        <h2>BECOME A TEACHER</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <button class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-text-bolder">
                            <a th:href="@{/web/users/signup(target=teacher)}"> Start Teaching Today</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- ! Testimonials section -->

    <div class="uk-section uk-section-muted testmonial-section uk-preserve-color">
        <div class="uk-container">
            <div class="uk-child-width-1-4@s uk-grid-collapse uk-text-center" uk-grid></div>
            <div>
                <h4 class="uk-heading-line uk-text-primary"
                    uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;">
                    <div class="uk-card uk-box-shadow-hover-large uk-card-default uk-width-1-3@m uk-border-rounded">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="100" height="100" th:src="@{/images/t1.jpg}">
                                </div>
                                <div class="uk-width-expand">
                                    <h4 class="uk-margin-remove-bottom">Title Lorem</h4>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <blockquote cite="#">

                                <p class="uk-margin-small-bottom">" The blockquote element represents content that is
                                    quoted from another source, optionally with a citation which must be within a footer
                                    or cite element "</p>
                            </blockquote>
                        </div>
                    </div>
                </h4>
            </div>

            <h4 class="uk-heading-line uk-text-center"
                uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 2,1,1; viewport: 0.5;">
                <div class="uk-card uk-box-shadow-hover-large uk-card-default uk-width-1-3@m uk-border-rounded">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="100" height="100" th:src="@{/images/t2.jpg}">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-margin-remove-bottom">Title Lorem</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <blockquote cite="#">

                            <p class="uk-margin-small-bottom">" The blockquote element represents content that is quoted
                                from another source, optionally with a citation which must be within a footer or cite
                                element "</p>
                        </blockquote>
                    </div>

                </div>
            </h4>

            <h4 class="uk-heading-line uk-text-right"
                uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;">
                <div class="uk-card uk-box-shadow-hover-large uk-card-default uk-width-1-3@m  uk-border-rounded">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="100" height="100" th:src="@{/images/t3.jpg}">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-margin-remove-bottom">Title Lorem</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <blockquote cite="#">

                            <p class="uk-margin-small-bottom">" The blockquote element represents content that is quoted
                                from another source, optionally with a citation which must be within a footer or cite
                                element "</p>
                        </blockquote>
                    </div>

                </div>
            </h4>

        </div>

    </div>



    <!-- ! FOOTER -->
	<footer id="page-footer" class="" uk-sticky th:replace="fragments/footer :: footer"></footer>
	
</body>

</html>