<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="body">

	<nav th:replace="fragments/nav :: navbar"></nav>

    <!-- ! signin  -->

    <div id="modal-sections-login" uk-modal>
        <div class="uk-modal-dialog uk-text-center uk-border-rounded">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <!-- ? signin -->

            <div
                class="uk-dark uk-padding uk-background-default signin-container uk-box-shadow-medium uk-border-rounded">
                <h2>Welcome Back to DWM Academy</h2>
                <p>Sign in to continue to your account.</p>

                <form class="uk-width-1-1@s uk-grid-small sign-form" uk-grid>
                    <div class="uk-width-1-1@s">
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-2@s">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                                <input class="uk-input uk-border-rounded" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1@s">
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-2@s">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input uk-border-rounded" type="password">
                            </div>
                        </div>
                    </div>

                    <div class="uk-width-1-1@s uk-align-center">
                        <button
                            class="uk-button uk-button-default uk-width-1-2 hero-btn uk-margin-small-top uk-text-capitalize uk-border-rounded"><a href="">
                                Sign
                                Up
                            </a></button>
                        <hr>
                    </div>
                    <p class="uk-text-normal uk-margin-remove">Not a member yet? <a
                            class="uk-text-bold green signup-btn">Sign
                            up</a></p>
                </form>

            </div>


            <!-- ? signup -->
            <div
                class="uk-dark uk-padding uk-background-default signup-container uk-box-shadow-medium uk-border-rounded uk-hidden">
                <h2>Join DWM Academy for Free</h2>
                <p>Get started now</p>

                <form class="uk-grid-small sign-form" uk-grid>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="first" type="text" placeholder="First name">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="last" type="text" placeholder="Last name">
                        </div>
                    </div>

                    <div class="uk-width-1-1">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="email" type="email"
                                placeholder="Email address">
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="new-pass confirm-new-pass" type="text"
                                placeholder="Create password">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="confirm-new-pass" type="text"
                                placeholder="Comfirme password">
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="date" type="date" placeholder="Date of birth">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <select class="uk-select uk-border-rounded" id="account-type">
                            <option>Select account type</option>
                            <option>Option 02</option>
                        </select>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="speciality" type="text"
                                placeholder="Speciality">
                        </div>
                    </div>

                    
                    <div class="uk-width-1-2@s uk-margin-top">

                        <label class="uk-margin-medium-right"><input class="uk-radio" type="radio" name="radio2"
                                checked>Male</label>
                        <label><input class="uk-radio" type="radio" name="radio2">Female</label>

                    </div>

                    <div class="uk-width-1-1@s uk-align-center">
                        <button
                            class="uk-button uk-button-default uk-width-1-1 hero-btn uk-margin-small-top uk-text-capitalize uk-border-rounded"><a href="">
                                Sign
                                Up
                            </a></button>
                        <hr>
                    </div>
                    <p class="uk-text-normal uk-margin-remove">Already a member? <a
                            class="uk-text-bold green signin-btn">Sign
                            in</a></p>
                </form>

            </div>

        </div>

    </div>



    <!-- ! signUp  -->

    <div id="modal-sections-signup" uk-modal>
        <div class="uk-modal-dialog uk-text-center uk-border-rounded">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <!-- ? signup -->
            <div
                class="uk-dark uk-padding uk-background-default signup-container uk-box-shadow-medium uk-border-rounded">
                <h2>Join DWM Academy for Free</h2>
                <p>Get started now</p>

                <form class="uk-grid-small sign-form" uk-grid>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="first" type="text" placeholder="First name">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="last" type="text" placeholder="Last name">
                        </div>
                    </div>

                    <div class="uk-width-1-1">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="email" type="email"
                                placeholder="Email address">
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="new-pass confirm-new-pass" type="text"
                                placeholder="Create password">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="confirm-new-pass" type="text"
                                placeholder="Comfirme password">
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="date" type="date" placeholder="Date of birth">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <select class="uk-select uk-border-rounded" id="account-type">
                            <option>Select account type</option>
                            <option>Option 02</option>
                        </select>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="speciality" type="text"
                                placeholder="Speciality">
                        </div>
                    </div>

                    
                    <div class="uk-width-1-2@s uk-margin-top">

                        <label class="uk-margin-medium-right"><input class="uk-radio" type="radio" name="radio2"
                                checked>Male</label>
                        <label><input class="uk-radio" type="radio" name="radio2">Female</label>

                    </div>

                    <div class="uk-width-1-1@s uk-align-center">
                        <button
                            class="uk-button uk-button-default uk-width-1-1 hero-btn uk-margin-small-top uk-text-capitalize uk-border-rounded"><a href="">
                                Sign
                                Up
                            </a></button>
                        <hr>
                    </div>
                    <p class="uk-text-normal uk-margin-remove">Already a member? <a
                            class="uk-text-bold green signin-btn">Sign
                            in</a></p>
                </form>

            </div>

            <!-- ? signin -->

            <div
                class="uk-dark uk-padding uk-background-default uk-box-shadow-medium signin-container uk-border-rounded uk-hidden">
                <h2>Welcome Back to DWM Academy</h2>
                <p>Sign in to continue to your account.</p>

                <form class="uk-width-1-1@s uk-grid-small sign-form" uk-grid>
                    <div class="uk-width-1-1@s">
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-2@s">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                                <input class="uk-input uk-border-rounded" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1@s">
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-2@s">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input uk-border-rounded" type="password">
                            </div>
                        </div>
                    </div>

                    <div class="uk-width-1-1@s uk-align-center">
                        <button
                            class="uk-button uk-button-default uk-width-1-2 hero-btn uk-margin-small-top uk-text-capitalize uk-border-rounded"><a href="">
                                Sign
                                Up
                            </a></button>
                        <hr>
                    </div>
                    <p class="uk-text-normal uk-margin-remove">Not a member yet? <a
                            class="uk-text-bold green signup-btn">Sign
                            up</a></p>
                </form>

            </div>



        </div>

    </div>




    <!-- ! VIDEO COVER -->

    <div class="uk-cover-container video-container uk-height-large overview">
        <video th:src="@{videos/overwiew.mp4}" autoplay loop muted playsinline uk-cover></video>
        <div class="uk-overlay uk-child-width-1-2@s uk-position-large uk-position-center-left">
            <div>
                <div class="uk-dark uk-padding uk-background-default uk-border-rounded">
                    <h1>Learn Without Limits</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing incididunt ut labore et dolore magna aliqua.
                    </p>
                    <button class="uk-button uk-button-default uk-border-rounded"><a href="">Join now</a></button>
                </div>
            </div>
        </div>
    </div>

    <!-- ! CATEGORIES SLIDER -->

    <div class="uk-section uk-section-muted" th:replace="fragments/categories-slider::categories-slider">

    </div>

    <!-- ! TEACHER LIST -->

    <div class="uk-section uk-section-default uk-light">
        <div class="uk-container teacher-list-container">

            <h2 class="uk-text-center uk-margin-medium-bottom">OUR TEACHERS</h2>

            <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
                <div>

                    <div class="uk-flex uk-flex-column uk-child-width-1-1 uk-flex-middle">
                        <img style="height: 150px;width: 150px;"
                            class="uk-border-circle uk-margin-small-bottom uk-box-shadow-medium"
                            th:src="@{/images/t3.jpg}" alt="">
                        <div
                            class="uk-tile uk-tile-default uk-border-rounded uk-margin-small-top uk-box-shadow-small uk-padding-small">
                            <p class="uk-h4 uk-text-center uk-text-bolder">John Welberg</p>
                            <p class="uk-text-center uk-text-normal">Fullstack Developer</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-flex uk-flex-column uk-child-width-1-1 uk-flex-middle">
                        <img style="height: 150px;width: 150px;"
                            class="uk-border-circle uk-margin-small-bottom uk-box-shadow-medium"
                            th:src="@{/images/t3.jpg}" alt="">
                        <div
                            class="uk-tile uk-tile-default uk-border-rounded uk-margin-small-top uk-box-shadow-small uk-padding-small">
                            <p class="uk-h4 uk-text-center uk-text-bolder">John Welberg</p>
                            <p class="uk-text-center uk-text-normal">Fullstack Developer</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-flex uk-flex-column uk-child-width-1-1 uk-flex-middle">
                        <img style="height: 150px;width: 150px;"
                            class="uk-border-circle uk-margin-small-bottom uk-box-shadow-medium"
                            th:src="@{/images/t3.jpg}" alt="">
                        <div
                            class="uk-tile uk-tile-default uk-border-rounded uk-margin-small-top uk-box-shadow-small uk-padding-small">
                            <p class="uk-h4 uk-text-center uk-text-bolder">John Welberg</p>
                            <p class="uk-text-center uk-text-normal">Fullstack Developer</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-flex uk-flex-column uk-child-width-1-1 uk-flex-middle">
                        <img style="height: 150px;width: 150px;"
                            class="uk-border-circle uk-margin-small-bottom uk-box-shadow-medium"
                            th:src="@{/images/t3.jpg}" alt="">
                        <div
                            class="uk-tile uk-tile-default uk-border-rounded uk-margin-small-top uk-box-shadow-small uk-padding-small">
                            <p class="uk-h4 uk-text-center uk-text-bolder">John Welberg</p>
                            <p class="uk-text-center uk-text-normal">Fullstack Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- ! PARTNER LIST -->

    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h2 class="uk-text-center uk-margin-medium-bottom">PARTNERS</h2>

            <div class="uk-grid-small uk-child-width-1-6@m uk-child-width-1-3@s uk-flex-center uk-text-center" uk-grid>
                <div>
                    <img th:src="@{/images/samsung-logo.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
                <div>
                    <img th:src="@{/images/att-logo.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
                <div>
                    <img th:src="@{/images/Chase.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
                <div>
                    <img th:src="@{/images/toyota-logo.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
                <div>
                    <img th:src="@{/images/sap-logo.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
                <div>
                    <img th:src="@{/images/pepsi-logo.png}" uk-parallax="grayscale: 300;" alt="">
                </div>
            </div>
        </div>
    </div>




    <!-- ! TEACHER SECTION -->

    <div class="uk-section section-teacher uk-section-primary uk-light">
        <div>
            <div>
                <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>

                    <div uk-scrollspy="cls: uk-animation-slide-left; repeat: true"
                        class="uk-background-top-center uk-background-cover"
                        style="background-image: url('images/teacher1.jpg');height: 500px;background-size: 100% 100%;">
                    </div>

                    <div class="uk-padding-large" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                        <h2>BECOME A TEACHER</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <button
                            class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-text-bolder"><a href="">
                                Start
                                Teaching Today
                            </a></button>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- ! Testimonials section -->

    <div class="uk-section uk-section-muted testmonial-section uk-preserve-color">
        <div class="uk-container">
            <div class="uk-child-width-1-4@s uk-grid-collapse uk-text-center" uk-grid></div>
            <div>
                <h4 class="uk-heading-line uk-text-primary"
                    uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;">
                    <div class="uk-card uk-box-shadow-hover-large uk-card-default uk-width-1-3@m uk-border-rounded">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="100" height="100" th:src="@{/images/t1.jpg}">
                                </div>
                                <div class="uk-width-expand">
                                    <h4 class="uk-margin-remove-bottom">Title Lorem</h4>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <blockquote cite="#">

                                <p class="uk-margin-small-bottom">" The blockquote element represents content that is
                                    quoted from another source, optionally with a citation which must be within a footer
                                    or cite element "</p>
                            </blockquote>
                        </div>
                    </div>
                </h4>
            </div>

            <h4 class="uk-heading-line uk-text-center"
                uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 2,1,1; viewport: 0.5;">
                <div class="uk-card uk-box-shadow-hover-large uk-card-default uk-width-1-3@m uk-border-rounded">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="100" height="100" th:src="@{/images/t2.jpg}">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-margin-remove-bottom">Title Lorem</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <blockquote cite="#">

                            <p class="uk-margin-small-bottom">" The blockquote element represents content that is quoted
                                from another source, optionally with a citation which must be within a footer or cite
                                element "</p>
                        </blockquote>
                    </div>

                </div>
            </h4>

            <h4 class="uk-heading-line uk-text-right"
                uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;">
                <div class="uk-card uk-box-shadow-hover-large uk-card-default uk-width-1-3@m  uk-border-rounded">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="100" height="100" th:src="@{/images/t3.jpg}">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-margin-remove-bottom">Title Lorem</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <blockquote cite="#">

                            <p class="uk-margin-small-bottom">" The blockquote element represents content that is quoted
                                from another source, optionally with a citation which must be within a footer or cite
                                element "</p>
                        </blockquote>
                    </div>

                </div>
            </h4>

        </div>

    </div>



    <!-- ! FOOTER -->
	<footer id="page-footer" class="" uk-sticky th:replace="fragments/footer :: footer"></footer>
	
</body>

</html>