<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="body">
	
    <!-- ! NAVBAR -->
	<nav th:replace="fragments/nav :: navbar"></nav>
	
    <!-- ! Profile -->
	
    <div class="uk-section">
        <div class="uk-container">

            <div class="uk-text-center" uk-grid>
                <div class="uk-width-1-4@m uk-margin-large-bottom">
                    <ul class="uk-list">
                        <li class="uk-margin"><img class="uk-border-circle" th:src="@{/images/default-picture.png}" width="150" height="150"
                                alt="Border circle"></li>
                        <li class="uk-margin">
                            <h2>Jihane Arfi</h2>
                            <span>Web Developer</span>
                        </li>
                        <li class="uk-margin"><span class="username uk-border-rounded">Teacher</span></li>
                        <li class="uk-margin">Female</li>
                        <li class="uk-margin">18-10-1995</li>
                        <li class="uk-margin">jihanrabat345@gmail.com</li>
                        <li class="uk-margin">
                            <a uk-scroll
                                class="uk-button uk-button-default uk-button-small uk-border-rounded uk-text-capitalize setting"
                                id="edit-profile">Edit
                                Profile</a>
                        </li>
                        <li class="uk-margin">
                            <a uk-scroll
                                class="uk-button uk-button-default uk-button-small uk-border-rounded uk-text-capitalize setting"
                                id="add-content">Add
                                Content</a>
                        </li>

                    </ul>
                </div>
                <div class="uk-width-expand@m">
                    <ul class="uk-subnav uk-margin-remove-right dashboard-tab uk-subnav-pill " uk-switcher>
                        <li><a class="uk-border-rounded" id="profile-item" href="#">My Profile</a></li>
                        <li><a class="uk-border-rounded" id="content-item" href="#">My Content</a></li>
                        <li><a class="uk-border-rounded" id="course-item" href="#">My Courses</a></li>
                    </ul>

                    <ul class="uk-switcher uk-text-left uk-margin-large-bottom">
                        <li class="uk-width-1-2@m">

                            <!-- ? description -->

                            <form id="profile-description">
                                <div class="uk-margin">
                                    <input
                                        class="uk-input uk-border-rounded uk-form-width-large uk-form-blank title uk-text-large uk-form-width-medium"
                                        value="This is a title here" type="text" placeholder="Form blank">
                                </div>
                                <div class="uk-margin">

                                    <textarea class="uk-textarea uk-border-rounded uk-form-blank textarea"
                                        maxlength="800" expand="true" style="overflow: hidden;" rows="5"
                                        placeholder="Textarea">Hello i'm Jijinet</textarea>

                                </div>
                            </form>

                            <!-- ? form -->

                            <form class="uk-form-stacked uk-hidden" id="profile-form">

                                <div class="uk-margin-medium">
                                    <label class="uk-form-label" for="first">Fisrt Name</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-border-rounded" id="first" type="text"
                                            placeholder="Some text...">
                                    </div>
                                </div>
                                <div class="uk-margin-medium">
                                    <label class="uk-form-label" for="last">Last Name</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-border-rounded" id="last" type="text"
                                            placeholder="Some text...">
                                    </div>
                                </div>

                                <div class="uk-margin-medium">
                                    <label class="uk-form-label" for="function">Speciality</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-border-rounded" id="function" type="text"
                                            placeholder="Some text...">
                                    </div>
                                </div>

                                <div class="uk-margin-medium">
                                    <label class="uk-form-label" for="email">Email</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-border-rounded" id="email" type="email"
                                            placeholder="Some text...">
                                    </div>
                                </div>

                                <div class="uk-margin-medium">
                                    <label class="uk-form-label" for="date">Date of Birth</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-border-rounded" id="date" type="date"
                                            placeholder="Some text...">
                                    </div>
                                </div>

                                <div class="uk-margin-medium">
                                    <label class="uk-form-label" for="current-pass">Current Password</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-border-rounded" id="current-pass" type="text"
                                            placeholder="Some text...">
                                    </div>
                                </div>
                                <div class="uk-margin-medium">
                                    <label class="uk-form-label" for="new-passconfirm-new-pass">New Password</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-border-rounded" id="new-passconfirm-new-pass"
                                            type="text" placeholder="Some text...">
                                    </div>
                                </div>
                                <div class="uk-margin-medium">
                                    <label class="uk-form-label" for="confirm-new-pass">Confirm New Password</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-border-rounded" id="confirm-new-pass" type="text"
                                            placeholder="Some text...">
                                    </div>
                                </div>

                                <div class="uk-margin-medium uk-grid-small uk-child-width-auto uk-grid">
                                    <label><input class="uk-radio" type="radio" name="radio2" checked>Male</label>
                                    <label><input class="uk-radio" type="radio" name="radio2">Female</label>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="image">Profile Picture</label>
                                    <div class="uk-form-controls">
                                        <div uk-form-custom="target: true">
                                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: image"></span>
                                            <input type="file">
                                            <input class="uk-input uk-border-rounded" type="text"
                                                placeholder="Select file" disabled>
                                        </div>
                                    </div>
                                </div>

                                <a uk-scroll
                                    class="uk-button uk-button-default uk-button-small uk-border-rounded uk-text-capitalize setting"
                                    id="save-profile" type="button">Save
                                    Changes</a>

                            </form>


                        </li>

                        <li class="uk-width-1-1@m">

                            <!--? add new  -->

                            <div class="uk-placeholder uk-text-center uk-border-rounded" id="add-content-container">
                                <a uk-scroll
                                    class="uk-button uk-button-default uk-button-small uk-text-capitalize uk-border-rounded add-new"
                                    id="add-content2">Add
                                    Content</a>
                            </div>


                            <!-- ? form course -->

                            <div class="uk-hidden" id="content-form">
                                <h3>Course Description</h3>
                                <hr>
                                <form class="uk-form-stacked">
                                    <div class="uk-margin-medium">
                                        <label class="uk-form-label" for="title">Title</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded" id="title" type="text"
                                                placeholder="Some text...">
                                        </div>
                                    </div>
                                    <div class="uk-margin-medium">
                                        <label class="uk-form-label" for="description">Description</label>
                                        <div class="uk-form-controls">
                                            <div id="toolbar">
                                                <!-- Add buttons as you would before -->
                                                <button class="ql-bold"></button>
                                                <button class="ql-italic"></button>
                                                <!-- But you can also add your own -->
                                                <button id="custom-button"></button>
                                            </div>
                                            <div class="uk-width-expand" id="editor"></div>
                                        </div>
                                    </div>

                                    <div class="uk-margin uk-child-width-1-3">
                                        <label class="uk-form-label" for="category">Category</label>
                                        <select class="uk-select" id="category">
                                            <option>select category</option>
                                            <option>Option 02</option>
                                        </select>
                                    </div>

                                    <div class="uk-margin-medium uk-child-width-1-3">
                                        <label class="uk-form-label" for="duration">Duration</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded" id="duration" type="text"
                                                placeholder="Some text...">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="image">Course Picture</label>
                                        <div class="uk-form-controls">
                                            <div uk-form-custom="target: true">
                                                <span class="uk-form-icon uk-form-icon-flip"
                                                    uk-icon="icon: image"></span>
                                                <input type="file">
                                                <input class="uk-input uk-border-rounded uk-child-width-1-3" type="text"
                                                    placeholder="Select file" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ? form content -->
                                    <h3>Content Description</h3>
                                    <hr>
                                    <div class="uk-margin-medium">
                                        <label class="uk-form-label" for="title-content">Title</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded" id="title-content" type="text"
                                                placeholder="Some text...">
                                        </div>
                                    </div>

                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon uk-form-icon-flip" href="#"
                                                uk-icon="icon: link"></span>
                                            <input class="uk-input uk-border-rounded uk-child-width-expand" type="text">
                                        </div>
                                    </div>
                                    <div class="uk-margin-medium uk-child-width-1-3">
                                        <label class="uk-form-label" for="duration-content">Duration</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded" id="duration-content" type="text"
                                                placeholder="Some text...">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <a class="uk-button uk-button-default uk-margin-medium-bottom uk-button-small uk-border-rounded uk-text-capitalize setting"
                                            id="add-content-table" type="button">Add
                                            Content</a>
                                    </div>

                                    <h3>Table of Content</h3>
                                    <div class="uk-overflow-auto uk-panel-scrollable uk-margin-medium-bottom uk-child-width-1-1@m"
                                        id="content-table-container uk-hidden" style="height: auto;">
                                        
                                        <table class="uk-table uk-table-justify uk-table-divider">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Url</th>
                                                    <th>Duration</th>                                            
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody id="content-info-container">
                                                <tr id="content-element">
                                                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod</td>
                                                    <td>https://www.youtube.com/watch?v=nE7BgxGYyS0</td>
                                                    <td>3h 15m</td>
                                                    <td><a uk-icon="icon: trash; ratio: 2" id="remove-content" class="uk-text-danger uk-align-right"
                                                    ></a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <hr>
                                    <div class="uk-margin">
                                        <a uk-scroll
                                            class="uk-button uk-button-default uk-margin-medium uk-button-small uk-border-rounded uk-text-capitalize setting"
                                            type="button" id="add-course">Add Course</a>
                                    </div>


                                </form>
                            </div>


                            <!--? content  -->

                            <div class="uk-grid-row-large uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-hidden"
                                id="content-container" uk-grid>
                
                              
                                <div>
                                    <a>
                                        <div
                                            class="uk-card uk-card-default uk-box-shadow-hover-small uk-border-rounded">
                                            <div class="uk-card-media-top">
                                                <img th:src="@{/images/team-meeting-full-of-happy-young-adults.jpg}" alt=""
                                                    uk-cover>
                                            </div>
                                            <div
                                                class="uk-card-body uk-padding-remove uk-border-rounded uk-flex uk-flex-between uk-flex-column">
                                                <div class="uk-flex-top">
                                                    <div class="uk-flex uk-flex-between">
                                                        <p class="uk-text-light">john wilberg</p><span>6h 18m</span>
                                                    </div>
                                                    <h5>Lorem ipsum dolor sit amet
                                                        consectetur
                                                        adipisicing elit. Iste, a?lorem ipsum dolorem
                                                    </h5>
                                                </div>
                                                <div class="uk-flex uk-flex-between">
                                                    <span
                                                        class="enroll uk-text-small uk-text-light uk-text-center uk-margin-remove"><strong>40</strong>
                                                        student</span>
                                                    <div>
                                                        <span uk-icon="more" class="uk-text-right"></span>
                                                        <div uk-dropdown="pos: right-bottom"
                                                            class="uk-padding-remove-vertical uk-border-rounded uk-flex-1">
                                                            <ul class="uk-nav uk-dropdown-nav">
                                                                <li>
                                                                    <a>Edit</a>
                                                                </li>
                                                                <li
                                                                    onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span>Course deleted'})">
                                                                    <a>Delete</a>
                                                                </li>
                                                               
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div>
                                    <a>
                                        <div
                                            class="uk-card uk-card-default uk-box-shadow-hover-small uk-border-rounded">
                                            <div class="uk-card-media-top">
                                                <img th:src="@{/images/team-meeting-full-of-happy-young-adults.jpg}" alt=""
                                                    uk-cover>
                                            </div>
                                            <div
                                                class="uk-card-body uk-padding-remove uk-border-rounded uk-flex uk-flex-between uk-flex-column">
                                                <div class="uk-flex-top">
                                                    <div class="uk-flex uk-flex-between">
                                                        <p class="uk-text-light">john wilberg</p><span>6h 18m</span>
                                                    </div>
                                                    <h5>Lorem ipsum dolor sit amet
                                                        consectetur
                                                        adipisicing elit. Iste, a?lorem ipsum dolorem
                                                    </h5>
                                                </div>
                                                <div class="uk-flex uk-flex-between">
                                                    <span
                                                        class="enroll uk-text-small uk-text-light uk-text-center uk-margin-remove"><strong>40</strong>
                                                        student</span>
                                                    <div>
                                                        <span uk-icon="more" class="uk-text-right"></span>
                                                        <div uk-dropdown="pos: right-bottom"
                                                            class="uk-padding-remove-vertical uk-border-rounded uk-flex-1">
                                                            <ul class="uk-nav uk-dropdown-nav">
                                                                <li>
                                                                    <a>Edit</a>
                                                                </li>
                                                                <li
                                                                    onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span>Course deleted'})">
                                                                    <a>Delete</a>
                                                                </li>
                                                               
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div>
                                    <a>
                                        <div
                                            class="uk-card uk-card-default uk-box-shadow-hover-small uk-border-rounded">
                                            <div class="uk-card-media-top">
                                                <img th:src="@{/images/team-meeting-full-of-happy-young-adults.jpg}" alt=""
                                                    uk-cover>
                                            </div>
                                            <div
                                                class="uk-card-body uk-padding-remove uk-border-rounded uk-flex uk-flex-between uk-flex-column">
                                                <div class="uk-flex-top">
                                                    <div class="uk-flex uk-flex-between">
                                                        <p class="uk-text-light">john wilberg</p><span>6h 18m</span>
                                                    </div>
                                                    <h5>Lorem ipsum dolor sit amet
                                                        consectetur
                                                        adipisicing elit. Iste, a?lorem ipsum dolorem
                                                    </h5>
                                                </div>
                                                <div class="uk-flex uk-flex-between">
                                                    <span
                                                        class="enroll uk-text-small uk-text-light uk-text-center uk-margin-remove"><strong>40</strong>
                                                        student</span>
                                                    <div>
                                                        <span uk-icon="more" class="uk-text-right"></span>
                                                        <div uk-dropdown="pos: right-bottom"
                                                            class="uk-padding-remove-vertical uk-border-rounded uk-flex-1">
                                                            <ul class="uk-nav uk-dropdown-nav">
                                                                <li>
                                                                    <a>Edit</a>
                                                                </li>
                                                                <li
                                                                    onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span>Course deleted'})">
                                                                    <a>Delete</a>
                                                                </li>
                                                               
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div>
                                    <a>
                                        <div
                                            class="uk-card uk-card-default uk-box-shadow-hover-small uk-border-rounded">
                                            <div class="uk-card-media-top">
                                                <img th:src="@{/images/team-meeting-full-of-happy-young-adults.jpg}" alt=""
                                                    uk-cover>
                                            </div>
                                            <div
                                                class="uk-card-body uk-padding-remove uk-border-rounded uk-flex uk-flex-between uk-flex-column">
                                                <div class="uk-flex-top">
                                                    <div class="uk-flex uk-flex-between">
                                                        <p class="uk-text-light">john wilberg</p><span>6h 18m</span>
                                                    </div>
                                                    <h5>Lorem ipsum dolor sit amet
                                                        consectetur
                                                        adipisicing elit. Iste, a?lorem ipsum dolorem
                                                    </h5>
                                                </div>
                                                <div class="uk-flex uk-flex-between">
                                                    <span
                                                        class="enroll uk-text-small uk-text-light uk-text-center uk-margin-remove"><strong>40</strong>
                                                        student</span>
                                                    <div>
                                                        <span uk-icon="more" class="uk-text-right"></span>
                                                        <div uk-dropdown="pos: right-bottom"
                                                            class="uk-padding-remove-vertical uk-border-rounded uk-flex-1">
                                                            <ul class="uk-nav uk-dropdown-nav">
                                                                <li>
                                                                    <a>Edit</a>
                                                                </li>
                                                                <li
                                                                    onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span>Course deleted'})">
                                                                    <a>Delete</a>
                                                                </li>
                                                               
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>


                                <div class="uk-width-1-1@s">
                                    <ul class="uk-pagination">
                                        <li><a href="#"><span class="uk-margin-small-right"
                                                    uk-pagination-previous></span> Previous</a></li>
                                        <li class="uk-margin-auto-left"><a href="#">Next <span
                                                    class="uk-margin-small-left" uk-pagination-next></span></a></li>
                                    </ul>
                                </div>
                            </div>

                        </li>
                        <li>

                            <!--? add new  -->

                            <div class="uk-placeholder uk-text-center uk-border-rounded"><a
                                    class="uk-button uk-button-default uk-button-small uk-text-capitalize uk-border-rounded add-new">Add
                                    Courses</a></div>

                            <!--? content-->

                            <div class="uk-text-center current uk-hidden" uk-grid>

                                <div class="uk-width-1-1@s">
                                    <div class="my-courses uk-card uk-grid-collapse uk-child-width-1-3@l uk-child-width-1-2@s uk-margin"
                                        uk-grid>

                                        <div class="uk-card-media-left uk-cover-container">
                                            <a href="">
                                                <img th:src="@{/images/team-meeting-full-of-happy-young-adults.jpg}" alt=""
                                                    uk-cover>
                                            </a>
                                            <canvas width="400" height="200"></canvas>
                                        </div>

                                        <div class="uk-card-body uk-padding-remove uk-flex uk-flex-column uk-flex-between">
                                            <span uk-icon="more" class="uk-text-right"></span>
                                            <div uk-dropdown="pos: right-top" class="uk-padding-remove-vertical uk-border-rounded uk-flex-1">
                                                <ul class="uk-nav uk-dropdown-nav">
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course hidden'})">Hide</a></li>
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course deleted'})">Delete</a></li>
                                                </ul>
                                            </div>
                                                    <div class="uk-flex uk-flex-between">
                                                        <p>john wilberg</p><span>6h 18m</span>
                                                    </div>
                                                    <a href="">
                                                        <h5 class="">Lorem ipsum dolor sit
                                                            amet
                                                            consectetur
                                                            adipisicing elit. Iste, a?</h5>
                                                    </a>
                                                
                                                <p
                                                    class="enroll uk-text-small uk-flex-wrap-top uk-text-light uk-text-center uk-margin-remove">
                                                    <span>40</span>
                                                    student
                                                </p>
                                       
                                        </div>

                                    </div>
                                </div>
                             
                                <div class="uk-width-1-1@s">
                                    <div class="my-courses uk-card uk-grid-collapse uk-child-width-1-3@l uk-child-width-1-2@s uk-margin"
                                        uk-grid>

                                        <div class="uk-card-media-left uk-cover-container">
                                            <a href="">
                                                <img th:src="@{/images/team-meeting-full-of-happy-young-adults.jpg}" alt=""
                                                    uk-cover>
                                            </a>
                                            <canvas width="400" height="200"></canvas>
                                        </div>

                                        <div class="uk-card-body uk-padding-remove uk-flex uk-flex-column uk-flex-between">
                                            <span uk-icon="more" class="uk-text-right"></span>
                                            <div uk-dropdown="pos: right-top" class="uk-padding-remove-vertical uk-border-rounded uk-flex-1">
                                                <ul class="uk-nav uk-dropdown-nav">
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course hidden'})">Hide</a></li>
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course deleted'})">Delete</a></li>
                                                </ul>
                                            </div>
                                     
                                                
                                                    <div class="uk-flex uk-flex-between">
                                                        <p>john wilberg</p><span>6h 18m</span>
                                                    </div>
                                                    <a href="">
                                                        <h5 class="">Lorem ipsum dolor sit
                                                            amet
                                                            consectetur
                                                            adipisicing elit. Iste, a?</h5>
                                                    </a>
                                                
                                                <p
                                                    class="enroll uk-text-small uk-flex-wrap-top uk-text-light uk-text-center uk-margin-remove">
                                                    <span>40</span>
                                                    student
                                                </p>
                                       
                                        </div>

                                    </div>
                                </div>
                                <div class="uk-width-1-1@s">
                                    <div class="my-courses uk-card uk-grid-collapse uk-child-width-1-3@l uk-child-width-1-2@s uk-margin"
                                        uk-grid>

                                        <div class="uk-card-media-left uk-cover-container">
                                            <a href="">
                                                <img th:src="@{/images/team-meeting-full-of-happy-young-adults.jpg}" alt=""
                                                    uk-cover>
                                            </a>
                                            <canvas width="400" height="200"></canvas>
                                        </div>

                                        <div class="uk-card-body uk-padding-remove uk-flex uk-flex-column uk-flex-between">
                                            <span uk-icon="more" class="uk-text-right"></span>
                                            <div uk-dropdown="pos: right-top" class="uk-padding-remove-vertical uk-border-rounded uk-flex-1">
                                                <ul class="uk-nav uk-dropdown-nav">
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course hidden'})">Hide</a></li>
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course deleted'})">Delete</a></li>
                                                </ul>
                                            </div>
                                     
                                                
                                                    <div class="uk-flex uk-flex-between">
                                                        <p>john wilberg</p><span>6h 18m</span>
                                                    </div>
                                                    <a href="">
                                                        <h5 class="">Lorem ipsum dolor sit
                                                            amet
                                                            consectetur
                                                            adipisicing elit. Iste, a?</h5>
                                                    </a>
                                                
                                                <p
                                                    class="enroll uk-text-small uk-flex-wrap-top uk-text-light uk-text-center uk-margin-remove">
                                                    <span>40</span>
                                                    student
                                                </p>
                                       
                                        </div>

                                    </div>
                                </div>
                                <div class="uk-width-1-1@s">
                                    <div class="my-courses uk-card uk-grid-collapse uk-child-width-1-3@l uk-child-width-1-2@s uk-margin"
                                        uk-grid>

                                        <div class="uk-card-media-left uk-cover-container">
                                            <a href="">
                                                <img th:src="@{/images/team-meeting-full-of-happy-young-adults.jpg}" alt=""
                                                    uk-cover>
                                            </a>
                                            <canvas width="400" height="200"></canvas>
                                        </div>

                                        <div class="uk-card-body uk-padding-remove uk-flex uk-flex-column uk-flex-between">
                                            <span uk-icon="more" class="uk-text-right"></span>
                                            <div uk-dropdown="pos: right-top" class="uk-padding-remove-vertical uk-border-rounded uk-flex-1">
                                                <ul class="uk-nav uk-dropdown-nav">
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course hidden'})">Hide</a></li>
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course deleted'})">Delete</a></li>
                                                </ul>
                                            </div>
                                     
                                                
                                                    <div class="uk-flex uk-flex-between">
                                                        <p>john wilberg</p><span>6h 18m</span>
                                                    </div>
                                                    <a href="">
                                                        <h5 class="">Lorem ipsum dolor sit
                                                            amet
                                                            consectetur
                                                            adipisicing elit. Iste, a?</h5>
                                                    </a>
                                                
                                                <p
                                                    class="enroll uk-text-small uk-flex-wrap-top uk-text-light uk-text-center uk-margin-remove">
                                                    <span>40</span>
                                                    student
                                                </p>
                                       
                                        </div>

                                    </div>
                                </div>
                                <div class="uk-width-1-1@s">
                                    <div class="my-courses uk-card uk-grid-collapse uk-child-width-1-3@l uk-child-width-1-2@s uk-margin"
                                        uk-grid>

                                        <div class="uk-card-media-left uk-cover-container">
                                            <a href="">
                                                <img th:src="@{/images/team-meeting-full-of-happy-young-adults.jpg}" alt=""
                                                    uk-cover>
                                            </a>
                                            <canvas width="400" height="200"></canvas>
                                        </div>

                                        <div class="uk-card-body uk-padding-remove uk-flex uk-flex-column uk-flex-between">
                                            <span uk-icon="more" class="uk-text-right"></span>
                                            <div uk-dropdown="pos: right-top" class="uk-padding-remove-vertical uk-border-rounded uk-flex-1">
                                                <ul class="uk-nav uk-dropdown-nav">
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course hidden'})">Hide</a></li>
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course deleted'})">Delete</a></li>
                                                </ul>
                                            </div>
                                     
                                                
                                                    <div class="uk-flex uk-flex-between">
                                                        <p>john wilberg</p><span>6h 18m</span>
                                                    </div>
                                                    <a href="">
                                                        <h5 class="">Lorem ipsum dolor sit
                                                            amet
                                                            consectetur
                                                            adipisicing elit. Iste, a?</h5>
                                                    </a>
                                                
                                                <p
                                                    class="enroll uk-text-small uk-flex-wrap-top uk-text-light uk-text-center uk-margin-remove">
                                                    <span>40</span>
                                                    student
                                                </p>
                                       
                                        </div>

                                    </div>
                                </div>
                                <div class="uk-width-1-1@s">
                                    <div class="my-courses uk-card uk-grid-collapse uk-child-width-1-3@l uk-child-width-1-2@s uk-margin"
                                        uk-grid>

                                        <div class="uk-card-media-left uk-cover-container">
                                            <a href="">
                                                <img th:src="@{/images/team-meeting-full-of-happy-young-adults.jpg}" alt=""
                                                    uk-cover>
                                            </a>
                                            <canvas width="400" height="200"></canvas>
                                        </div>

                                        <div class="uk-card-body uk-padding-remove uk-flex uk-flex-column uk-flex-between">
                                            <span uk-icon="more" class="uk-text-right"></span>
                                            <div uk-dropdown="pos: right-top" class="uk-padding-remove-vertical uk-border-rounded uk-flex-1">
                                                <ul class="uk-nav uk-dropdown-nav">
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course hidden'})">Hide</a></li>
                                                    <li><a href="#" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Course deleted'})">Delete</a></li>
                                                </ul>
                                            </div>
                                     
                                                
                                                    <div class="uk-flex uk-flex-between">
                                                        <p>john wilberg</p><span>6h 18m</span>
                                                    </div>
                                                    <a href="">
                                                        <h5 class="">Lorem ipsum dolor sit
                                                            amet
                                                            consectetur
                                                            adipisicing elit. Iste, a?</h5>
                                                    </a>
                                                
                                                <p
                                                    class="enroll uk-text-small uk-flex-wrap-top uk-text-light uk-text-center uk-margin-remove">
                                                    <span>40</span>
                                                    student
                                                </p>
                                       
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-width-1-1@s">
                                    <ul class="uk-pagination">
                                        <li><a href="#"><span class="uk-margin-small-right"
                                                    uk-pagination-previous></span> Previous</a></li>
                                        <li class="uk-margin-auto-left"><a href="#">Next <span
                                                    class="uk-margin-small-left" uk-pagination-next></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>



    <!-- ! FOOTER -->
	<footer id="page-footer" class="" uk-sticky th:replace="fragments/footer :: footer"></footer>
</body>

</html>