<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ! UIKIT CSS -->
    <link rel="stylesheet" th:href="@{/css/uikit/uikit.min.css}" />
    <link rel="stylesheet" th:href="@{/css/custom-css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/custom-css/global.css}">

</head>

<body class="body">

    <!-- ! NAVBAR -->
    <nav th:replace="fragments/nav :: navbar"></nav>

    <!-- ! Sign-container -->

    <div class="uk-section uk-section-muted">
        <div class="uk-container">

            <div class="uk-text-center" uk-grid>
                <div class="uk-width-1-2@m uk-align-center  uk-border-rounded uk-margin-large-bottom">
                    <div class="uk-dark uk-padding uk-background-default signup-container uk-box-shadow-medium uk-border-rounded">
                        <h2>Join DWM Academy for Free</h2>
                        <p>Get started now</p>

                        <form action="#" class="uk-grid-small sign-form" uk-grid method="post" th:action="@{/users/signup}" th:object="${user}">
                        	
                            <div class="uk-width-1-2@s">
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded" id="first_name" th:field="*{first_name}" type="text" placeholder="First name" required maxlength="50">
                                </div>
                            </div>
                            <div class="uk-width-1-2@s">
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded" id="last_name" th:field="*{last_name}" type="text" placeholder="Last name" required maxlength="50">
                                </div>
                            </div>

                            <div class="uk-width-1-1">
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded" id="email" th:field="*{email}" type="email" placeholder="Email address" required maxlength="100">
                                </div>
                            </div>

                            <div class="uk-width-1-2@s">
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded" name="password" th:field="*{password}" id="new-pass confirm-new-pass" type="text" required maxlength="100"
                                        placeholder="Create password">
                                </div>
                            </div>
                            <div class="uk-width-1-2@s">
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded" id="confirm-new-pass" name="confirm_password" th:field="*{confirm_password}" type="text" required maxlength="100"
                                        placeholder="Comfirme password">
                                </div>
                            </div>

                            <div class="uk-width-1-2@s">
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded" id="date_birth" th:field="*{date_birth}" type="date" min="01-01-1920" max="01-01-2011"
                                        placeholder="Date of birth">
                                </div>
                            </div>
                            <div class="uk-width-1-2@s">
                                <select class="uk-select uk-border-rounded" id="type" th:field="*{type}">
                                    <option value="">Select account type</option>
                                    <option  th:each="user_type:${user_types}"  th:value="${user_type}" th:text="${user_type}" required></option>
                                </select>
                            </div>
                            <div class="uk-width-1-2@s">

                                <label class="uk-margin-medium-right"><input class="uk-radio" type="radio" name="radio2"
                                        checked>Male</label>
                                <label><input class="uk-radio" type="radio" name="radio2">Female</label>

                            </div>

                            <div class="uk-width-1-1@s uk-align-center">
                                <button
                                    class="uk-button uk-button-default uk-width-1-1 hero-btn uk-margin-small-top uk-text-capitalize uk-border-rounded">Sign
                                    Up</button>
                                <hr>
                            </div>
                            <p class="uk-text-normal uk-margin-remove">Already a member? <a
                                    class="uk-text-bold green signin-btn">Sign in</a></p>
                        </form>

                    </div>

                    <div class="uk-dark uk-padding uk-background-default uk-box-shadow-medium signin-container uk-border-rounded uk-hidden">
                    <h2>Welcome Back to DWM Academy</h2>
                    <p>Sign in to continue to your account.</p>
    
                    <form class="uk-width-1-1@s uk-grid-small sign-form" uk-grid method="post" action="#" th:action="@{/users/signin}"  th:object="${user}">
                        <div class="uk-width-1-1@s">
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-2@s">
                                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                                    <input class="uk-input uk-border-rounded" name="email" th:field="*{email}" type="text" required maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1@s">
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-2@s">
                                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                    <input class="uk-input uk-border-rounded" name="password" th:field="*{password}" type="password" required maxlength="100">
                                </div>
                            </div>
                        </div>
    
                        <div class="uk-width-1-1@s uk-align-center">
                            <button class="uk-button uk-button-default uk-width-1-2 hero-btn uk-margin-small-top uk-text-capitalize uk-border-rounded">Sign Up</button>
                            <hr>
                        </div>
                        <p class="uk-text-normal uk-margin-remove">Not a member yet? 
                        	<a class="uk-text-bold green signup-btn">Sign in</a>
                       	</p>
                    </form>
    
                </div>
                </div>

            </div>

        </div>
    </div>
	
    <!-- ! FOOTER -->
    <footer id="page-footer" class="" uk-sticky th:replace="fragments/footer :: footer"></footer>
			
</body>

</html>