<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<table class="table mt-2">
         <tr>
             <th>ID</th><th>Titre</th><th>Date</th><th>Montant</th><th>Client</th><th>Cloture</th>
         </tr>
         <tr th:each="c:${categories}">
             <td th:text="${c.id}"></td>
             <td th:text="${c.name}"></td>
             <!-- <td th:text="${c.date}"></td>
             <td th:text="${c.montant}"></td>
             <td th:text="${c.client}"></td>
             <td th:text="${c.cloture}"></td>
             <td><a onclick="return confirm('Etes vous sûre?')" class="btn btn-danger"   th:href="@{delete(id=${c.id},keyword=${keyword})}">Delete</a></td>
             <td><a class="btn btn-success"   th:href="@{edit(id=${c.id})}">Edit</a></td>
             <td><a th:class="${c.cloture==true?'btn btn-success':'btn btn-danger'}"  th:href="@{cloturer(id=${c.id},keyword=${keyword})}">
                 <span th:if="${c.cloture==true}">Activer</span>
                 <span th:if="${c.cloture==false}">Cloturer</span>
             </a></td> -->
         </tr>
     </table>

</body>
</html>