<nav class="uk-navbar" uk-navbar th:fragment="navbar">
    <div class="uk-navbar-left uk-width-*">
        <ul class="uk-navbar-nav uk-visible@m">
            <li class="uk-active"> <a class="uk-navbar-item uk-logo logo" href="#"><img th:src="@{/images/logo.png}"
                        height="80" width="80" alt=""></a></li>
            <li>
                <a href="#" class="categories">CATEGORIES</a>
                <div class="uk-navbar-dropdown uk-width-medium uk-border-rounded uk-margin-xlarge-top">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                   		<li><a class="uk-text-truncate" th:each="category : ${best_categories}" th:href="@{/categories/__${category.id}__}" th:text="${category.name}"></a></li>
                   		<li><a class="uk-text-truncate" th:href="@{/categories}">More...</a></li>
                    </ul>
                </div>
            </li>
            <li class="uk-margin uk-margin-large-left">
                <form class="uk-search uk-search-default uk-width-medium uk-child-width-* search-form">
                    <span uk-search-icon></span>
                    <input class="uk-search-input uk-border-rounded search-value" type="search" placeholder="Search">
                </form>
            </li>
        </ul>
        <a href="#" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon type="button"
            uk-toggle="target: #offcanvas-overlay"></a>
        <a class="uk-navbar-item uk-logo uk-hidden@m uk-position-center logo" href="#"><img th:src="@{/images/logo.png}"
                height="80" width="80" alt=""></a>
    </div>
    <!-- If not logged in -->
    <div class="uk-navbar-right">
        <!-- <ul class="uk-navbar-nav">
            <li><a th:href="@{/users/signup/}">Signup</a></li>
            <li><a class="login" th:href="@{/users/signin/}">Login</a></li>
        </ul> -->
        <ul class="uk-navbar-nav" th:if="${user != null}">
            <li><a href="#modal-sections-signup" uk-toggle>Signup</a></li>
            <li><a href="#modal-sections-login" uk-toggle class="login">Login</a></li>
        </ul>
    </div>
	
    <!-- If logged in -->
    <div class="uk-navbar-right uk-width-1-6" sec:authotize="isAuthenticated()">
        <ul class="uk-navbar-nav">
            <li class="uk-margin-small-right"><a href="#">My Courses</a></li>
            <li>
                <img class="uk-border-circle uk-margin-small-top" width="50" height="50"
                    th:src="@{/images/default-picture.png}">
                <div class="uk-navbar-dropdown uk-border-rounded">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                    	<li><a th:href="@{/users/__${user.id}__(target=profile)}">My Profile</a></li>
                        <li><a th:href="@{/users/__${user.id}__(target=courses)}">My Courses</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- ! MOBILE MENU -->

<div id="offcanvas-overlay" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-hidden@m uk-background-default">

        <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active uk-text-large">Menu</li>

            <li class="uk-margin">
                <form class="uk-search uk-search-default uk-width-medium search-form uk-child-width-*">
                    <span uk-search-icon></span>
                    <input class="uk-search-input uk-border-rounded search-value" type="search" placeholder="Search">
                </form>
            </li>

            <li class="uk-parent dropdown-category">
                <p href="#" class="uk-text-bolder">CATEGORIES</p>
                <ul class="uk-nav-sub">
                    <li><a class="uk-text-truncate" th:each="category : ${categories}" th:href="@{/categories/__${category.id}__}" th:text="${category.name}"></a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>

<!-- ! signin  -->

    <div id="modal-sections-login" uk-modal>
        <div class="uk-modal-dialog uk-text-center uk-border-rounded">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <!-- ? signin -->

            <div
                class="uk-dark uk-padding uk-background-default signin-container uk-box-shadow-medium uk-border-rounded">
                <h2>Welcome Back to DWM Academy</h2>
                <p>Sign in to continue to your account.</p>

                <form class="uk-width-1-1@s uk-grid-small sign-form" uk-grid>
                    <div class="uk-width-1-1@s">
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-2@s">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                                <input class="uk-input uk-border-rounded" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1@s">
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-2@s">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input uk-border-rounded" type="password">
                            </div>
                        </div>
                    </div>

                    <div class="uk-width-1-1@s uk-align-center">
                        <button
                            class="uk-button uk-button-default uk-width-1-2 hero-btn uk-margin-small-top uk-text-capitalize uk-border-rounded"><a href="">
                                Sign
                                Up
                            </a></button>
                        <hr>
                    </div>
                    <p class="uk-text-normal uk-margin-remove">Not a member yet? <a
                            class="uk-text-bold green signup-btn">Sign
                            up</a></p>
                </form>

            </div>


            <!-- ? signup -->
            <div
                class="uk-dark uk-padding uk-background-default signup-container uk-box-shadow-medium uk-border-rounded uk-hidden">
                <h2>Join DWM Academy for Free</h2>
                <p>Get started now</p>

                <form class="uk-grid-small sign-form" uk-grid>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="first" type="text" placeholder="First name">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="last" type="text" placeholder="Last name">
                        </div>
                    </div>

                    <div class="uk-width-1-1">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="email" type="email"
                                placeholder="Email address">
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="new-pass confirm-new-pass" type="text"
                                placeholder="Create password">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="confirm-new-pass" type="text"
                                placeholder="Comfirme password">
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="date" type="date" placeholder="Date of birth">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <select class="uk-select uk-border-rounded" id="account-type">
                            <option>Select account type</option>
                            <option>Option 02</option>
                        </select>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="speciality" type="text"
                                placeholder="Speciality">
                        </div>
                    </div>

                    
                    <div class="uk-width-1-2@s uk-margin-top">

                        <label class="uk-margin-medium-right"><input class="uk-radio" type="radio" name="radio2"
                                checked>Male</label>
                        <label><input class="uk-radio" type="radio" name="radio2">Female</label>

                    </div>

                    <div class="uk-width-1-1@s uk-align-center">
                        <button
                            class="uk-button uk-button-default uk-width-1-1 hero-btn uk-margin-small-top uk-text-capitalize uk-border-rounded"><a href="">
                                Sign
                                Up
                            </a></button>
                        <hr>
                    </div>
                    <p class="uk-text-normal uk-margin-remove">Already a member? <a
                            class="uk-text-bold green signin-btn">Sign
                            in</a></p>
                </form>

            </div>

        </div>

    </div>



    <!-- ! signUp  -->

    <div id="modal-sections-signup" uk-modal>
        <div class="uk-modal-dialog uk-text-center uk-border-rounded">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <!-- ? signup -->
            <div
                class="uk-dark uk-padding uk-background-default signup-container uk-box-shadow-medium uk-border-rounded">
                <h2>Join DWM Academy for Free</h2>
                <p>Get started now</p>

                <form class="uk-grid-small sign-form" uk-grid>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="first" type="text" placeholder="First name">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="last" type="text" placeholder="Last name">
                        </div>
                    </div>

                    <div class="uk-width-1-1">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="email" type="email"
                                placeholder="Email address">
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="new-pass confirm-new-pass" type="text"
                                placeholder="Create password">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="confirm-new-pass" type="text"
                                placeholder="Comfirme password">
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="date" type="date" placeholder="Date of birth">
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <select class="uk-select uk-border-rounded" id="account-type">
                            <option>Select account type</option>
                            <option>Option 02</option>
                        </select>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" id="speciality" type="text"
                                placeholder="Speciality">
                        </div>
                    </div>

                    
                    <div class="uk-width-1-2@s uk-margin-top">

                        <label class="uk-margin-medium-right"><input class="uk-radio" type="radio" name="radio2"
                                checked>Male</label>
                        <label><input class="uk-radio" type="radio" name="radio2">Female</label>

                    </div>

                    <div class="uk-width-1-1@s uk-align-center">
                        <button
                            class="uk-button uk-button-default uk-width-1-1 hero-btn uk-margin-small-top uk-text-capitalize uk-border-rounded"><a href="">
                                Sign
                                Up
                            </a></button>
                        <hr>
                    </div>
                    <p class="uk-text-normal uk-margin-remove">Already a member? <a
                            class="uk-text-bold green signin-btn">Sign
                            in</a></p>
                </form>

            </div>

            <!-- ? signin -->

            <div
                class="uk-dark uk-padding uk-background-default uk-box-shadow-medium signin-container uk-border-rounded uk-hidden">
                <h2>Welcome Back to DWM Academy</h2>
                <p>Sign in to continue to your account.</p>

                <form class="uk-width-1-1@s uk-grid-small sign-form" uk-grid>
                    <div class="uk-width-1-1@s">
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-2@s">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                                <input class="uk-input uk-border-rounded" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1@s">
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-2@s">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input uk-border-rounded" type="password">
                            </div>
                        </div>
                    </div>

                    <div class="uk-width-1-1@s uk-align-center">
                        <button
                            class="uk-button uk-button-default uk-width-1-2 hero-btn uk-margin-small-top uk-text-capitalize uk-border-rounded"><a href="">
                                Sign Up </a>
                        </button>
                        <hr>
                    </div>
                    <p class="uk-text-normal uk-margin-remove">Not a member yet? 
                    <a class="uk-text-bold green signup-btn">Sign up</a></p>
                </form>
            </div>
        </div>
    </div>