*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar
{
    width: 0;
}


.box
{
    overflow: hidden;
    max-width: 400px;
    margin: 10px 10px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
}
.box:hover
{
    box-shadow: 0px 5px 30px 0px #121212;
}
.box img
{
    width: 100%;
    display: block;
}

h3
{
    color: #fff;
    margin: 0 10px;
}

.box .box-content
{
    position: absolute;
    top: 80%;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: all .5s ease-in-out;
}
.box::after
{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    background: rgba(0, 0, 0, 0.73);
    transition: all .3s ease-in-out;
}
.box:hover .box-content
{
    opacity: 1;
    top: 30%;
}
.box:hover::after
{
    opacity: 1;
    transform: scaleY(1);
}

.scrollTop
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 100000;
}


